// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

:root {

  --max-width: 1240px;

	--font-family: 'PT Sans', sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --primary-color: #008dea;

  --button-color: #008dea;
  --button-hover-color: #007ed1;
  --button-text-color: #ffffff;
  --button-hover-text-color: #ffffff;

  --home-link-color: #008dea;
  --home-link-hover-color: #007ed1;

  --post-title-color: #0F070B;

  --text-color-meta: rgba(0,0,0,0.5);
  
  // CSS Grid Utility
  --grid-gap: 30px; 

}